body {
    padding-top: 80px;
    background-image: url('../images/devfest-wallpaper.png');
    background-color: rgb(229, 229, 229);
    font-family: 'Roboto', sans-serif;
    color: #505050;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'OpenSans', sans-serif;
}

.bordered-shadowed {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .05);
    border: 1px solid rgb(195, 195, 195);
    background-color: #fff;
}

.box-fluid {
    float: left;
    padding: 30px;
    margin-bottom: 30px;
}

.row {
    margin-bottom: 5px;
}

/* Used by CardUi on small devices */
@media (max-width: 767px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.box-description {
    margin-bottom: 20px;
}

.img-gravatar {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

.img-responsive {
    display: inline-block;
}

.navbar-nav li a {
    border-bottom: 5px solid rgb(34, 34, 34);
}

.navbar-nav li.active.red a,
.navbar-nav li.red a:hover {
    border-bottom: 5px solid rgb(213, 63, 52);
}

.navbar-nav li.active.blue a,
.navbar-nav li.blue a:hover {
    border-bottom: 5px solid rgb(68, 134, 248);
}

.navbar-nav li.active.green a,
.navbar-nav li.green a:hover {
    border-bottom: 5px solid rgb(10, 162, 90);
}

.navbar-nav li.active.yellow a,
.navbar-nav li.yellow a:hover {
    border-bottom: 5px solid rgb(251, 201, 68);
}

.navbar-nav li.red a:hover,
.navbar-nav li.active.red:hover a {
    background-color: rgb(213, 63, 52);
}

.navbar-nav li.blue a:hover,
.navbar-nav li.active.blue:hover a {
    background-color: rgb(68, 134, 248);
}

.navbar-nav li.green a:hover,
.navbar-nav li.active.green:hover a {
    background-color: rgb(10, 162, 90);
}

.navbar-nav li.yellow a:hover,
.navbar-nav li.active.yellow:hover a {
    background-color: rgb(251, 201, 68);
}

.btn-xlg {
    padding: 22px 35px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px;
}

/* Font Awesome overrides */
.fa {
    margin-right: 8px;
}

a:hover  {
    text-decoration: none;
}

/* Windows phone 8 and IE 10 fix */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
